@define-color placeholder_text_color #545c7e;
@define-color bg #15161e;
@define-color fg #c0caf5;
@define-color border #7aa2f7;

* {
  all: initial;
  font-family: monospace;
  font-size: 18px;
}

#window {
  background-color: @bg;
  color: @fg;
}

#input {
  margin: 4px;
  margin-bottom: 8px;
  padding: 4px;
  border-bottom: 1px solid @fg;
  color: @fg;
}

#inner-box {
}

#outer-box {
  /* padding: 4px 8px; */

  border: 1px solid @border;
}

#entry {
  padding: 4px 8px;
}

#entry image {
  margin-right: 16px;
}

#entry label {
  color: #c0caf5;
}

#entry:selected {
  background-color: #283457;
}
