@define-color foreground #a9b1d6;
@define-color background #1A1B26;
@define-color red #f7768e;
@define-color bg-popup #16161e;
@define-color border #15161e;
@define-color border-highlight #27a1b9;

* {
  all: initial;

  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: monospace;
  font-size: 16px;

  margin: 0;
  padding: 0;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 1.5px 0;
  min-width: 9px;
  opacity: 0.5;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1;
}

#custom-screenrecording-indicator {
  font-weight: bold;
}

#custom-screenrecording-indicator.active {
  color: @red;
}

#tray menu {
  padding: 5;

  border: 1px solid @border-highlight;
  background-color: @bg-popup;
}
